// Apollo
$effect-bg: #3498db !default;
$effect-overlay: #fff !default;
$transition-time: 0.35s !default;
$apollo-scale-initial: (1.05,1.05,1) !default;
$apollo-bg: $effect-bg !default;

figure {
	&.effect-apollo {
		background: $apollo-bg;
		img {
			opacity: 0.95;
			@include transition-transform-opacity($transition-time);
			@include scale3d($apollo-scale-initial);		
		}
		figcaption {
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($effect-overlay,0.5);
				content: '';
				@include transition-transform($transition-time*2);
				

				-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
				transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
			}
		}
		h2 {
			text-align: left;
		}
		p {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 3em;
			padding: 0 1em;
			max-width: 150px;
			border-right: 4px solid #fff;
			text-align: right;
			opacity: 0;
			-webkit-transition: opacity 0.35s;
			transition: opacity 0.35s;	
		}
		&:hover {
			img {
				opacity: 0.6;
				-webkit-transform: scale3d(1,1,1);
				transform: scale3d(1,1,1);
			}
			figcaption {
				&::before {
					-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
					transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
				}
			}
			p {
				opacity: 1;
				-webkit-transition-delay: 0.1s;
				transition-delay: 0.1s;
			}
		}
	}
}