// Layla
figure {
	&.effect-layla {
		background: #18a367;
		img {
			height: 390px;
		}
		img, h2 {
			-webkit-transform: translate3d(0,-30px,0);
			transform: translate3d(0,-30px,0);
		}
		img, figcaption::before, figcaption::after, p {
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
		}
		h2 {
			padding-top: 26%;
			-webkit-transition: -webkit-transform 0.35s;
			transition: transform 0.35s;
		}
		p {
			padding: 0.5em 2em;
			text-transform: none;
			opacity: 0;
			-webkit-transform: translate3d(0,-10px,0);
			transform: translate3d(0,-10px,0);
		}
		figcaption {
			padding: 3em;
			&::before, &::after {
				position: absolute;
				content: '';
				opacity: 0;
			}
			&::before {
				top: 50px;
				right: 30px;
				bottom: 50px;
				left: 30px;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
				-webkit-transform: scale(0,1);
				transform: scale(0,1);
				-webkit-transform-origin: 0 0;
				transform-origin: 0 0;
			}
			&::after {
				top: 30px;
				right: 50px;
				bottom: 30px;
				left: 50px;
				border-right: 1px solid #fff;
				border-left: 1px solid #fff;
				-webkit-transform: scale(1,0);
				transform: scale(1,0);
				-webkit-transform-origin: 100% 0;
				transform-origin: 100% 0;
			}
		}
		&:hover {
			img {
				opacity: 0.7;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			h2, p {
				opacity: 1;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			figcaption {
				&::before, &::after {
					opacity: 1;
					-webkit-transform: scale(1);
					transform: scale(1);
				}
			}
			img, figcaption::before, figcaption::after, p { 
				-webkit-transition-delay: 0.15s;
				transition-delay: 0.15s;
			}
		}
	}
}