// Zoe
figure {
	&.effect-zoe {
		h2 {
			float: left;
			display: inline-block;
		}
		h2, p.icon-links a {
			-webkit-transition: -webkit-transform 0.35s;
			transition: transform 0.35s;
			-webkit-transform: translate3d(0,200%,0);
			transform: translate3d(0,200%,0);
		}
		p {
			&.icon-links {
				a {
					float: right;
					color: #3c4a50;
					font-size: 1.4em;
					span {
						&::before {
							display: inline-block;
							padding: 8px 10px;
							font-family: 'feathericons';
							speak: none;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
						}
					}
				}
			}
			&.description {
				position: absolute;
				bottom: 8em;
				padding: 2em;
				color: #fff;
				text-transform: none;
				font-size: 90%;
				opacity: 0;
				-webkit-transition: opacity 0.35s;
				transition: opacity 0.35s;
				-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
			}
		}
		figcaption {
			top: auto;
			bottom: 0;
			padding: 1em;
			height: 3.75em;
			background: #fff;
			color: #3c4a50;
			-webkit-transition: -webkit-transform 0.35s;
			transition: transform 0.35s;
			-webkit-transform: translate3d(0,100%,0);
			transform: translate3d(0,100%,0);
		}
		&:hover {
			h2 {
				-webkit-transition-delay: 0.05s;
				transition-delay: 0.05s;
			}
			figcaption, h2, p.icon-links a {
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			p {
				&.description {
					opacity: 1;
				}
				&.icon-links {
					a {
						&:hover, &:focus {
							color: #252d31;
						}
						&:nth-child(3) {
							-webkit-transition-delay: 0.1s;
							transition-delay: 0.1s;
						}
						&:nth-child(2) {
							-webkit-transition-delay: 0.15s;
							transition-delay: 0.15s;
						}
						&:first-child {
							-webkit-transition-delay: 0.2s;
							transition-delay: 0.2s;
						}
					}
				}
			}
		}
	}
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}